header {
    display: flex;
    justify-content: center;
    
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
}

main {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.gallery {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    gap: 20px;
}

.photo-card {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.photos {
    width: 300px;
    height: 250px;
}


.info {
    display: flex;
    justify-content: space-between;


    gap: 10px;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-more {
    border-radius: 4px;
    margin-right: 50%;
    margin-left: 50%;
    min-width: 100px;
}